{% extends "base.html" %}

{% block content %}
    {% if prof == 'инженер' or prof == 'строитель' %}
        <h2 style="text-align: center">Инженерные тренажеры</h2>
        <center>
            <img src="../static/img/ing.png"
                alt="здесь должна была быть картинка, но не нашлась">
        </center>
    {% else %}
        <h2 style="text-align: center">Научные симуляторы</h2>
        <center>
            <img src="../static/img/sci.png"
                alt="здесь должна была быть картинка, но не нашлась">
        </center>
    {% endif %}
{% endblock %}
