{% extends "base.html" %}

{% block content %}
    <h1>Записи в блоге</h1>
    {% for item in jobs%}
        <div class="col-md6 border rounded">
            <h2>Action # {{item.id}}</h2>
            <div>
                Название работ - {{item.job}}
            </div>
            <div>
                Капитан - {{item.user.name}}
            </div>
            <div>
                Длительность работ - {{item.work_size}}
            </div>
            <div>
                id участников - {{item.collaborators}}
            </div>
            <div>
                Работа завершена - {% if item.is_finished == True %} Да {% else %} Нет {% endif %}
            </div>
            {% if current_user.is_authenticated and (current_user == item.user or current_user.id == 1) %}
                <div>
                    <a href="/jobs/{{ item.id }}" class="btn btn-warning">
                        Изменить
                    </a>
                    <a href="/jobs_delete/{{ item.id }}" class="btn btn-danger">
                        Удалить
                    </a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    {% if current_user.is_authenticated %}
        <a href="jobs" class="btn btn-secondary">Добавить новость</a>
    {% endif %}
{% endblock %}